{% extends 'layouts/base.html.twig' %}

{% block title "RidesBike Connexion" %}


{% block body %}
	<div class="loginForm container rounded">

		<div class="row mt-4">
			<div class="col-md-6 mx-auto">
				<h1 class="text-center mt-5">
					Veuillez vous connecter
				</h1>
				<form method="post" action="">
					{% if error %}
						<div class="alert alert-error rounded mb-3" role="alert">
							{{ error.messageKey|trans(error.messageData, 'security') }}
						</div>
					{% endif %}
					{% if app.user %}
						<div class="mb-3">
							Vous êtes connecté 
							{{ app.user.username }}
							,
							<a href="{{ path('app_logout') }}">
								Logout
							</a>
						</div>
					{% endif %}
					<div class="form-group">
						<label for="email">
							Email
						</label>
						<input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" required autofocus>
					</div>
					<div class="form-group">
						<label for="password">
							Mot de passe
						</label>
						<input type="password" name="password" id="password" class="form-control" required>
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div class="d-flex justify-content-between">
						<div class="form-group">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" name="_remember_me" id="remember_me">
								<label class="form-check-label" for="remember_me">
									Se souvenir de moi
								</label>
							</div>
						</div>
						<a href="#">
							mot de passe oublié?
						</a>
					</div>
					<button class="btn btn-lg btn-block btn-primary mt-4" type="submit">
						S'identifier
					</button>
					<p class="pt-5 text-center text-muted">
						Vous n'avez pas encore de compte?
						<a href="{{ path('app_register') }}">
							Créer votre compte!
						</a>
					</p>
				</p>
			</form>
		</div>
	</div>

</div>{% endblock %}
