{% extends 'layouts/base.html.twig' %}

{% block title "création d'un compte"%}

{% block body %}
	<div class="registerForm container  rounded mt-5">
		<div class="col-md-6 mx-auto">
			<h1 class="text-center mt-5">Créer un compte</h1>
				{{ form_row(registrationForm.firstName) }}
				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.lastName) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
			{{ form_row(registrationForm.agreeTerms) }}

			<button type="submit" class="btn btn-primary btn-block btn-lg">Register</button>
			{{ form_end(registrationForm) }}

		</div>
	</div>


{% endblock %}
