<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>{% block title 'Ride Bike welcome' %}</title>
		{% block stylesheets%}
			{{ encore_entry_link_tags("app")}}
			<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>

		{% endblock %}
		{% block javascripts %}
			{{encore_entry_script_tags("app")}}
			<script src="https://unpkg.com/aos@2.3.1/dist/aos.js">
				AOS.init();
			</script>
			<script src="https://kit.fontawesome.com/e7cfbe473c.js" crossorigin="anonymous"></script>

		{% endblock %}
	</head>

	{{include("layouts/partials/_flash_messages.html.twig")}}
	{{include("layouts/partials/_nav.html.twig")}}

	<body>
		<div class="container rounded mt-5"> {% block body %}{% endblock %}
			</div>
			{{include("layouts/partials/footer.html.twig")}}
		</body>
	</html>
