{% extends 'layouts/base.html.twig' %}

{% block body %}
	<div class="">
		<h1 class="text-center ">Toutes les sorties</h1>
	</div>
	{% for row in ride|batch(3) %}
		<div class="row">
			{% for ride in row  %}
				<div class="col-md-4" style="opacity:0.9">

					<div class="card-text-white text-center mt-3 bg-white rounded shadow" data-aos="zoom-in-down" data-aos-duration="1500">
						<div class="card-header border-top">

							<h3>
								<a href="{{ path('app_ride_show', {id: ride.id}) }}" class="text-decoration-none link-show">{{ ride.title }}</a>
							</h3>
						</div>
						<div class="card-body">
							<span class="text-card">{{ ride.category }}</span>
							<h5 class="card-title text-card">Distance:
								{{ ride.mileage }}
								kms</h5>
							<br>
							<span class="text-card">{{ ride.description|u.truncate(20, '...') }}</span>
							<br>
							<hr>
							<span class="text-card">Date:
								{{ ride.date | date('m/d/Y') }}</span>
							<br>
							<hr>
							<span class="text-card">Ville de départ:
								{{ ride.departureCity }}</span>
							<br>
							<hr>
							<span class="text-card">Ville d'arrivée:
								{{ ride.cityOfArrival }}</span>
						</div>
					</div>
				</div>

			{% endfor %}
		</div>

	{% endfor %}
	<div class="d-flex justify-content-center  mt-5 ">
		{% do ride.setPageRange(2) %}
		{{ knp_pagination_render(ride, 'layouts/partials/pagination.html.twig') }}
	</div>
{% endblock %}
