{% extends 'layouts/base.html.twig' %}

{% block title ride.title %}

{% block body %}
	<h1 class="text-center" data-aos="zoom-in-down" data-aos-duration="1000">{{ ride.title }}</h1>
	<span>
		<a href="{{ path('app_ride') }}">
			<i class="fas fa-backward"></i>
		</a>
	</span>
	<div class="cardShow rounded-3">
		<div class="row">
			<div class="col-md-2 rounded-3 card-header">
				<div class="text-white text-center">
					<dl>
						<dt>Date:</dt>
						<dd>{{ ride.date | date('m/d/Y') }}</dd>
						<dt>Heure de départ</dt>
						<dd>{{ ride.date | date('m:s') }}
							Heures</dd>
						<dt>Distance:</dt>
						<dd>{{ ride.mileage }}
							kms</dd>
						<dt>Dénivelé positif:</dt>
						<dd>{{ ride.positiveElevation }}
							d+</dd>
						<dt>Ville de départ:</dt>
						<dd>{{ ride.departureCity }}</dd>
						<dt>Ville d'arrivée:</dt>
						<dd>{{ ride.cityOfArrival }}</dd>
					</dl>
				</div>
			</div>
			<div class="col-md-10 rounded-3">
				<div class="card-body showRide">
					<hr>
					<p class="card-text text-break">{{ ride.description }}</p>
					<hr>
					<div class="publication text-center">
						<p class="card-text">
							<small class="text-muted">Publié le:
								{{ ride.createdAt|date('d-m-Y') }}</small>
						</p>
						<p class="card-text">
							<small class="text-muted">par
								{{ ride.user.lastName  }}
								{{ ride.user.firstName }}
							</small>
						</p>
					</div>
					<div class=" mx-auto">
						{% if ride.user == app.user %}
							<div class="d-grid gap-2 m-3">
								<a class="btn btn-outline-primary" href="{{ path('app_ride_edit', {id: ride.id}) }}">Modifier la sortie</a>
							</div>
							<div class="d-grid gap-2 m-3">
								<a class="btn btn-outline-primary" href="#" onclick="event.preventDefault(); confirm('Êtes vous sûr de supprimer la 				sortie!') && document.getElementById('js-ride-delete-form').submit();">Supprimer la sortie</a>
								<form id="js-ride-delete-form" action="{{ path('app_ride_delete', {id: ride.id}) }}" method="POST" style="display:none">
									<input type="hidden" name="csrf_token" value="{{ csrf_token('ride_deletion_' ~ride.id) }}">
									<input type="hidden" name="_method" value="DELETE">
								</form>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		<div class="comment mt-5">
			<h2 class="text-center text-white nbrComment mb-5">
				{{ ride.comment | length }}
				Commentaires :
			</h2>
			{% for comment in ride.comment %}
				<div class="card border-light mb-3" style="max-width: 120rem;">
					<div class="card-header">
						<p class="card-text text-white text-center">
							{{ comment.title }}
						</p>
					</div>
					<div class="card-body overflow-auto">
						<p class="">
							{{ comment.content }}
						</p>
					</div>
					{% if  app.user %}
						<div class="card-footer text-center">
							Comentaire écrit par:
							{{ app.user.fullName }}
						</div>
					{% endif %}
				</div>
			{% endfor %}
			{% if app.user %}
				<div class="container bg-light mx-auto pt-3">
					<div class="col-md-6 mx-auto">
						{{ form_start(commentForm, {attr: {novalidate: 'novalidate'}}) }}
						{{ form_row(commentForm.title) }}
						{{ form_row(commentForm.content) }}
						<div class="d-grid gap-2">
							<button type="submit" class="btn btn-outline-primary mb-3">
								Commenter
							</button>
						</div>
						{{ form_end(commentForm) }}
					{% else %}
						<div class="bg-light pt-3">
							<h2 class="text-center text-danger">
								Vous ne pouvez pas commenter si vous n'êtes pas connecté !
							</h2>
							<div class="d-grid gap-2">
								<button class="btn btn-outline-primary m-3">
									<a href="{{ path('app_login') }}" class="text-decoration-none">
										connexion
									</a>
								</button>
							</div>
						</div>
					{% endif %}
				</div>
			{% endblock %}
