<div class="text-center">
	{% for type, messages in app.flashes %}
		{% for message in messages %}
			<div class=" container mt-3 alert alert-{{ type }} alert-dismissible" role="alert">
				<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
</div>
