<div class="container bg-light rounded formRide">
	<div class="col-md-6 mx-auto">
{{ form_start(formRideCreate, {attr: {novalidate: 'novalidate'}}) }}



		<div class="row">
			{% if (app.request.attributes.get('_route') == 'app_ride_create') %}
				<div class="mx-auto rounded-3">
					<h1 class="text-center" data-aos="zoom-in-down" data-aos-duration="1000">Création d'une sortie !</h1>
				</h1>
			</div>
			{% else %}
			<div class="mx-auto rounded">
				<h1 class="text-center" data-aos="zoom-in-down" data-aos-duration="1000">Modifier la sortie:<br>
					{{ ride.title }}
			</div>
			{% endif %}

			<div class="col-md-6">
				{{ form_row(formRideCreate.title) }}
				{{ form_row(formRideCreate.departureCity) }}
				{{ form_row(formRideCreate.Date) }}
				{{ form_row(formRideCreate.departureTime) }}
				{{ form_row(formRideCreate.category) }}
			</div>
			<div class="col-md-6">
				{{ form_row(formRideCreate.department) }}
				{{ form_row(formRideCreate.cityOfArrival) }}
				{{ form_row(formRideCreate.positiveElevation) }}
				{{ form_row(formRideCreate.mileage) }}
			</div>
			{{ form_row(formRideCreate.description) }}
		</div>
		{% if (app.request.attributes.get('_route') == 'app_ride_create') %}
			<div class="d-grid gap-2">
				<input type="submit" value="Créer la sortie" class="btn btn-primary mb-5" formnovalidate>
			</div>
		{% else %}
			<div class="d-grid gap-2">
				<input type="submit" value="Modifier la sortie" class="btn btn-primary mb-5" formnovalidate>
			</div>
		{% endif %}
		{{ form_end(formRideCreate) }}
	</div>
</div>
