<nav class="navbar navbar-expand-lg " aria-label="Eighth navbar example">
	<div class="container">
<a class="navbar-brand text-danger" href="{{ path('app_home') }}"><img src="{{ asset('build/images/rideCM.png') }}" width="100" height="30">


		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample07">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link active text-white link-nav" aria-current="page" href="{{ path('app_ride_create') }}">Proposer une sortie</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link active text-white link-nav" href="{{ path('app_ride') }}">toutes les sorties</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link text-white text-xl link-nav" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">Plus encore</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown07">
						<li>
							<a class="dropdown-item link-nav" href="#">Vente matériels d'occasion</a>
						</li>
						<li>
							<a class="dropdown-item link-nav" href="#">échanges d'astuces</a>
						</li>
						<li>
							<a class="dropdown-item link-nav" href="#">Conseils d'entrainements</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="navbar-nav  mb-2 mb-lg-0">
				{% if not app.user %}
					<li class="nav-item">
						<a class="nav-link text-white link-nav" href="{{ path ('app_login') }}">Connexion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link-nav" href="{{ path ('app_register') }}">Inscription</a>
					</li>
				{% endif %}
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link link-nav" href="{{ path ('app_logout') }}">Deconnexion</a>
					</li>
					<li class="nav-item mt-2">
                        <span class="textUser ml-5">
                            Bonjour
                            {{ app.user.fullName }}
                        </span>
                    </li>

				{% endif %}
			</ul>
		</div>
	</div>
</nav>
