<div class="container mt-5">
	<footer class="py-5 ">
		<div class="row footer card-header rounded border-top">
			<div class="col-2">
				<h5 class="text-white">Section</h5>
				<ul class="nav flex-column ">
					<li class="nav-item mb-2">
						<a href="{{ path('app_home') }}" class="nav-link p-0 text-white">Acceuil</a>
					</li>
					<li class="nav-item mb-2">
						<a href="{{ path('app_ride') }}" class="nav-link p-0 text-white">Toutes les sorties</a>
					</li>
					<li class="nav-item mb-2">
						<a href="{{ path('app_login') }}" class="nav-link p-0 text-white">Connexion</a>
					</li>
					<li class="nav-item mb-2">
						<a href="{{ path('app_register') }}" class="nav-link p-0  text-white">Inscription</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-white">A propos</a>
					</li>
				</ul>
			</div>
			<div class="col-2">
				<h5 class="text-white">Section</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-white">Home</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-white">Features</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-white">Pricing</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-white">FAQs</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-white">About</a>
					</li>
				</ul>
			</div>
			<div class="col-2">
				<h5 class="text-white">Section</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-white">Home</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-white">Features</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-white">Pricing</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-white">FAQs</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-white">About</a>
					</li>
				</ul>
			</div>
			<div class="col-4 offset-1 card-header">
				<form>
					<h5 class="text-white">S'inscrire à la newsletter</h5>
					<p class="text-white">Résumé mensuel de ce qui est nouveau et intéressant de notre part.</p>
					<div class="d-flex w-100 gap-2">
						<label for="newsletter1" class="visually-hidden">Email address</label>
						<input id="newsletter1" type="text" class="form-control" placeholder="Email address">
						<button class="btn btn-primary" type="button">Subscribe</button>
					</div>
				</form>
			</div>
		</div>
		<div class="d-flex footer justify-content-between py-4 my-4 border-top card-header rounded">
			<p class="text-white">&copy; 2021 Company, Inc. All rights reserved.</p>
			<ul class="list-unstyled d-flex">
				<li class="ms-3">
					<a class="link-dark" href="#">
						<svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg>
					</a>
				</li>
				<li class="ms-3">
					<a class="link-dark" href="#">
						<svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg>
					</a>
				</li>
				<li class="ms-3">
					<a class="link-dark" href="#">
						<svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg>
					</a>
				</li>
			</ul>
		</div>
	</footer>
</div>
