@import "_variables";


body {
    background-color: #A2AEBB;
}

h1, .nbrComment {
    color: $h1-color;
    font-family: 'Glory', sans-serif;
    background-color: $h1-bg;
    letter-spacing: 1px;
    margin-top: 15px;
    border-radius: 5px;
    font-weight: bold;
}

.link-show {
    color: $link-show;
}

.link-nav {
    color: $link-nav !important;
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
}

.card-header {
    background-color: $card-header;
}

.card-body {
    background-color: $card-body;
}

.text-card {
    color: #6a6a6c;
}

.navbar {
    background-color: $h1-bg;
}

.textUser {
    color: #92c33a;
    font-size: 20px;
}

// .formRide, .cardShow, .loginForm, .registerForm, .footer{
//     // opacity: 0.8;
// }

.showRide {
    min-height: 360px !important;
}