.map__image {
    width: 70%;
    float: left;
}

.map__image path {
				fill: #018bd2;
				fill-opacity: 0.7;
				stroke: white;
				stroke-opacity: 1;
				stroke-width: 1;
                transition: fill 0.2s;

			}

.map__image path:hover {
    fill: #4b4b4d;
}

